.container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center vertically within the container */
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto; /* Center the container */
}

.torneos, .grupos {
  flex: 1; /* Make both containers take equal space */
  margin: 15px; /* Add some spacing between the two sections */
  padding: 30px;
  background-color: #c1e1ec; /* Background color for both sections */
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  min-height: 400px; /* Make the containers taller than the banner */
}

.torneos h2, .grupos h2 {
  text-align: center;
  font-size: 36px; /* Increase the font size of the titles */
  margin-bottom: 20px;
}

.torneos {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  justify-content: center; /* Center the content vertically */
}

.torneo-item img {
  width: 200px; /* Increase the size of the images */
  height: auto;
  margin-bottom: 15px;
}

.torneo-name {
  font-size: 24px; /* Increase the font size for torneo names */
  font-weight: bold;
}

.grupos {
  /* Specific styles for the Grupos container can be added here */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
}
